@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

.enter-post {
  width: 600px;
  margin-left: 67px;

}

.enter-post-add-comment {
  font-weight: normal;
  text-align: start;
  font-family: 'Libre Franklin', sans-serif;
  width: 50%;

}

.body-post {
  .body-post-title {
    vertical-align: inherit;
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    color: slategray;
    margin-top: -30 px;
    width: 600px;
  }

  .body-post-small-info {
    text-align: start;
    font-size: small;
    color: darkgray;
    width: 600px;
    margin-top: -7px;
  }

  .body-post-body {
    text-align: start;
    color: #50565b;
    margin-top: 20px;
    font-size: medium;
    font-weight: 400;
    width: 600px;
    line-height: 1.4;
  }
}

.enter-post-photo {
}

.enter-post-body-post {
  margin-top: 30px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: x-large;
}

.enter-post-comments {
  margin-top: 30px;
  font-family: 'Libre Franklin', sans-serif;
  text-align: start;
  /*border: 1px solid gray;*/
}

a:-webkit-any-link {
  color: #939a9f;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 4px;
}

.router-link:after {
  content: "\00B7";
}

.router-link {
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif;
}

.router-link:hover {
  color: indianred;
}

.tag:after {
  content: "\00B7";
}

.app-links {
  margin-left: 120px;
  text-align: center;
}

.img-logo {
  width: 25%;

}

.app-logo {
  text-align: center;
}

